@import 'vendor/normalize.scss';
@import 'variables.scss';
@import 'sections/aside.scss';
@import 'sections/content.scss';


@font-face {
  font-weight: 400;
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Medium.woff');
}

@font-face {
  font-weight: 600;
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-SemiBold.woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Bold.woff');
}

@font-face {
  font-weight: 400;
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-Regular.woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'SFCompactDisplay';
  src: url('../../assets/fonts/SFCompactDisplay-Regular.woff2');
}


:root {
  --bg-color-main: #F9F9F9;
  --bg-color-aside: #FFFFFF;
  --aside-title-color: #1E1E2D;
  --aside-counter-bg: #E6E6E6;
  --aside-login-color: #353542;
  --aside-logout-color: #FB6B63;
  --color-main: #1E1E2D;
  --color-discover: #FFFFFF;
  --color-icon-bg: #F5F5F5;
  --color-card-bg: #FFFFFF;
  --color-button-bg: #39C948;
  --color-button-text: #FFFFFF;
  --color-button-second-bg: #EAF8EC;
  --color-button-second-text: #39C948;
  --color-notification-bg: #FFFFFF;
  --color-notification-info-bg: #FB6B63;
  --color-popup-bg: #FFFFFF;
  --color-login-icon-bg: #F5F5F5;
  --color-menu-hover: #E1E1E1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Gilroy', sans-serif;
  background: var(--bg-color-main);
}


html {
  overflow-x: hidden;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: $container-desk;
  margin-right: auto;
  margin-left: auto;
  background: var(--bg-color-main);
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


p {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}
