.content-footer {
  max-width: $container-content;
  margin: 0 auto;
  padding: 30px 0 13px;
  background-color: #FFFFFF;

  &__text {
    color: $color-main;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    span {
      opacity: 0.7;
    }
  }
}

