.content {
  position: sticky;
  top: 35px;
  z-index: 7;


  @media (max-width: $breakpoint-mobile) {
    top: 32px;
  }

  &__wrapper {
    box-sizing: border-box;
    max-width: $container-content;
    margin: 0 auto;
    background-color: #FFFFFF;


    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__options {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 24px;
    padding: 0 24px;
    border-bottom: 1px solid #EEEEEE;

    @media (max-width: $breakpoint-mobile) {
      padding: 0 8px;
    }
  }

  &__option {
    display: block;
    padding: 15px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    cursor: pointer;

    &--active {
      position: relative;
      color: #FF0046;

      &::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background: #FF0046;
        content: '';
      }
    }
  }

  &__list {
    position: absolute;
    top: 44px;
    left: 24px;
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 18px 0;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 43px rgb(0 0 0 / 15%);

    @media (max-width: $breakpoint-mobile) {
      top: 48px;
      left: 8px;
    }

    &--open {
      display: flex;
    }
  }

  &__list-item {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 30px;
    color: $color-menu;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #F4F5F5;
    }
  }

  &__filters {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 0 14px;
    padding-left: 24px;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      padding: 14px 0;
      padding-left: 8px;
    }
  }

  &__filter {
    display: none;
    margin-right: 14px;
    color: $color-menu;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;

    &--active {
      position: relative;
      display: flex;
      padding-right: 18px;
      text-decoration: underline;
      cursor: pointer;


      @media (max-width: $breakpoint-mobile) {
        white-space: nowrap;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 14px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_144_60)'%3E%3Cpath d='M6.99994 6.31186L3.16358 3.09485C2.99928 2.94955 2.79832 2.87707 2.56074 2.87707L2.06113 3.3183C1.8969 3.46337 1.81476 3.64093 1.81476 3.85073C1.81476 4.06054 1.8969 4.23801 2.06113 4.38331L6.39712 8.21974C6.56142 8.36491 6.76235 8.4375 6.99995 8.4375C7.23756 8.4375 7.43833 8.36493 7.6027 8.21974L11.9387 4.38333C12.103 4.23803 12.1851 4.06058 12.1851 3.85075C12.1851 3.64093 12.103 3.46339 11.9387 3.31832C11.7745 3.17302 11.5747 3.10054 11.3392 3.10054C11.1039 3.10054 10.9019 3.17304 10.7332 3.31832L6.99994 6.31186Z' fill='%23555E61'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_144_60'%3E%3Crect width='12' height='14' fill='white' transform='translate(0 12) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: cover;
        transform: translateY(-50%);
        content: '';
      }

      &:hover {
        text-decoration: none;
      }
    }

    &--open {
      text-decoration: underline;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_144_60)'%3E%3Cpath d='M6.99994 5.00271L10.8363 8.21972C11.0006 8.36502 11.2016 8.43751 11.4391 8.43751L11.9387 7.99627C12.103 7.8512 12.1851 7.67365 12.1851 7.46384C12.1851 7.25404 12.103 7.07657 11.9387 6.93127L7.60276 3.09484C7.43846 2.94966 7.23753 2.87708 6.99992 2.87708C6.76232 2.87708 6.56155 2.94964 6.39718 3.09484L2.0612 6.93125C1.89689 7.07655 1.81475 7.254 1.81475 7.46382C1.81475 7.67365 1.89689 7.85118 2.0612 7.99625C2.22541 8.14155 2.42522 8.21404 2.66068 8.21404C2.89595 8.21404 3.098 8.14153 3.26671 7.99625L6.99994 5.00271Z' fill='%23555E61'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_144_60'%3E%3Crect width='12' height='14' fill='white' transform='translate(0 12) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  &__button {
    display: flex;
    box-sizing: border-box;
    height: 28px;
    padding: 8px 12px;
    color: $color-menu;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    white-space: nowrap;
    text-transform: uppercase;
    background: #EEEEEE;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      color: $color-matches;
      background-color: #C8CDCD;
    }

    &--active {
      color: #FFFFFF;
      background: #FF0046;
      cursor: default;

      &:hover{
        color: #FFFFFF;
        background: #FF0046;
      }
    }
  }
}


.overlay {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100vw;
  height: 100vh;
}
