.core {
  background-color: #EEEEEE;
  &__wrapper {
    display: flex;
    box-sizing: border-box;
    width: 1048px;
    margin: 0 auto;
    padding: 21px 16px 66px;
    padding-top: 21px;
    padding-bottom: 66px;
    background: #EEEEEE;

    @media (max-width: $breakpoint-xl) {
      flex-wrap: wrap;
      width: 100%;
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 4px 0 30px;
    }
  }
}
