.info {
  width: 100%;
  background-color: #000C18;

  &__wrapper {
    padding: 4px 0;
    background-color: #000C18;
  }

  &__title {
    margin: 0;
    padding-left: 2px;
    color: $color-white;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.header {
  background-color: #001E28;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #001E28;

    &--category {
      position: relative;
      padding-bottom: 0;

      @media (max-width: 590px) {
        padding-top: 0;
      }
    }
  }

  &__logo {
    @media (max-width: $breakpoint-mobile) {
      display: block;
      width: 140px;
      height: 23px;
      padding-top: 4px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0F2D37;
    border-radius: 8px;
    cursor: pointer;


    &:hover {
      background: #00141E;
    }

    &--search {
      width: 40px;
      height: 40px;

      @media (max-width: $breakpoint-mobile) {
        display: flex;
        width: 32px;
        height: 32px;
      }
    }

    &--login {
      justify-content: baseline;
      box-sizing: border-box;
      width: 86px;
      height: 40px;
      padding: 0 12px;

      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: $breakpoint-mobile) {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 0;
        padding-left: 5px;
      }
    }

    &--burger {
      width: 40px;
      height: 40px;

      @media (max-width: $breakpoint-mobile) {
        display: flex;
        width: 32px;
        height: 32px;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;

    svg {
      width: 100%;
      height: 100%;
      color: #FFFFFF;
    }

    &--burger {
      width: 20px;
      height: 14px;

      @media (max-width: 590px) {
        width: 16px;
      }
    }

    &--login {
      width: 18px;
      height: 16px;
      margin-right: 6px;


      @media (max-width: $breakpoint-mobile) {
        width: 16px;
        height: 16px;
        margin-right: 0;
      }
    }
  }

  &__text {
    color: $color-white;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__more {
    padding-bottom: 14px;
    cursor: pointer;

    @media (max-width: 590px) {
      padding-bottom: 0;
    }
  }

  &__menu-btn {
    position: relative;
    padding-right: 18px;
    color: $color-category;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    user-select: none;

    @media (max-width: 590px) {
      padding-top: 28px;
      padding-right: 6px;
      font-size: 9px;
      line-height: 12px;
      text-align: center;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 8px;
      background-image: url('/assets/icons/arrow.svg');
      background-size: cover;
      transform: translateY(-50%);
      content: '';

      @media (max-width: 590px) {
        top: 14px;
        left: calc(50% - 11px);
        width: 16px;
        height: 10px;
      }
    }

    &--active {
      &::before {
        width: 10px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2.26735L1.30065 5.69883C1.14221 5.85381 0.948437 5.93113 0.719342 5.93113C0.877756 6.08609 0.490269 5.93113 0.719342 5.93113L0.237576 5.46048C0.0792068 5.30574 -2.23643e-07 5.11635 -2.1386e-07 4.89255C-2.04078e-07 4.66876 0.0792069 4.47946 0.237576 4.32447L4.4187 0.23228C4.57714 0.0774267 4.77089 2.08542e-07 5.00001 2.18557e-07C5.22913 2.28572e-07 5.42273 0.0774048 5.58123 0.23228L9.76236 4.32445C9.92079 4.47944 10 4.66871 10 4.89253C10 5.11635 9.92079 5.30571 9.76236 5.46046C9.60401 5.61544 9.41133 5.69276 9.18429 5.69276C8.95742 5.69276 8.76258 5.61542 8.59989 5.46046L5 2.26735Z' fill='white'/%3E%3C/svg%3E%0A");

        @media (max-width: 590px) {
          position: absolute;
          top: 14px;
          left: calc(50% - 11px);
          width: 16px;
          height: 10px;
          background-image: url('/assets/icons/arrow.svg');
          background-size: cover;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}


.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: 865px;

  @media (max-width: 590px) {
    flex: 1;
    justify-content: space-between;
    padding-right: 24px;
  }
}


.category {
  padding-right: 30px;
  padding-bottom: 14px;
  overflow: hidden;


  @media (max-width: 590px) {
    margin-bottom: 10px;
    padding-right: 0;
    padding-bottom: 0;
  }

  &--tennis {
    @media (max-width: $breakpoint-hockey) {
      padding-right: 0;
    }

    // @media (max-width: $breakpoint-md) {
    //   padding-right: 0;
    // }
  }

  &--hockey {
    @media (max-width: $breakpoint-md) {
      padding-right: 0;
    }

    @media (max-width: 720px) {
      display: none;
    }

    @media (max-width: 590px) {
      display: block;
    }

    @media (max-width: 340px) {
      display: none;
    }
  }

  &--hand {
    @media (max-width: $breakpoint-vb) {
      padding-right: 0;
    }

    @media (max-width: 850px) {
      display: none;
    }

    @media (max-width: 590px) {
      display: block;
    }

    @media (max-width: 495px) {
      display: none;
    }
  }

  &--volleyball {
    @media (max-width: 970px) {
      display: none;
    }
  }

  &:last-child {
    padding-right: 0;
  }

  &__counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    color: #001E28;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    background: #C8CDCD;
    border-radius: 4px;

    @media (max-width: 590px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 14px;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
    }
  }


  &:hover {
    .category__counter {
      background-color: #FFFFFF;
    }

    h2 {
      color: #FFFFFF;
    }
  }

  &__name {
    position: relative;
    display: block;
    height: 100%;
    margin: 0;
    padding-left: 28px;
    color: $color-category;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: 590px) {
      max-width: 54px;
      padding-top: 28px;
      padding-left: 0;
      overflow: hidden;
      font-weight: 700;
      font-size: 9px;
      line-height: 12px;
      text-transform: uppercase;
      text-overflow: ellipsis;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      background-size: cover;
      transform: translateY(-50%);
      content: '';

      @media (max-width: 590px) {
        top: 4px;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translateX(-50%);
      }
    }


    &--favorites {
      display: flex;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath fill='var(%2300141E, %2300141E)' d='m9.346 0-2.101 6.847-6.841-.015-.404 1.309 5.544 4.213-2.129 6.837 1.058.809 5.526-4.242 5.527 4.242 1.058-.809-2.129-6.837 5.545-4.213-.403-1.309-6.843.015-2.099-6.847z'/%3E%3Cpath fill='var(%2300141E, %2300141E)' d='m9.346 0-2.101 6.847-6.841-.015-.404 1.309 5.544 4.213-2.129 6.837 1.058.809 5.527-4.242 5.526 4.242 1.058-.809-2.129-6.837 5.545-4.213-.403-1.309-6.843.015-2.099-6.847zm-.947 7.793 1.601-5.218 1.601 5.218.656.5 5.212-.011-4.223 3.211-.251.809 1.622 5.209-4.212-3.23h-.81l-4.21 3.23 1.621-5.209-.251-.809-4.225-3.211 5.214.011c.001 0 .655-.5.655-.5z'/%3E%3C/svg%3E%0A");
      }
    }

    &--soccer {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='m17 2.9c-3.9-3.9-10.2-3.9-14.1 0s-3.9 10.2 0 14.1c2.5 2.5 6.2 3.5 9.6 2.6s6.1-3.6 7-7c1-3.5 0-7.2-2.5-9.7zm.4 2.8c.6 1.1 1 2.2 1.1 3.4l-1.8-1zm-1.4-1.8c.1.1.3.3.4.4l-1.1 3.6-1.3.4-3.3-2.4v-1.4l3.2-2.2c.7.4 1.5.9 2.1 1.6zm-6-2.5c.8 0 1.6.1 2.3.3l-2.3 1.6-2.3-1.6c.7-.2 1.5-.3 2.3-.3zm-6.1 2.5c.6-.7 1.4-1.2 2.2-1.6l3.2 2.2v1.4l-3.3 2.4-1.4-.4-1.1-3.6c.1-.1.3-.3.4-.4zm-1.4 1.8.7 2.4-1.8 1c.1-1.2.5-2.4 1.1-3.4zm1.4 10.3c-.1-.1-.1-.2-.2-.2h2l.7 1.9c-1-.4-1.8-1-2.5-1.7zm2-1.6h-3.3c-.7-1.1-1.1-2.4-1.2-3.7l2.8-1.5 1.4.4 1.3 3.9zm6 3.9c-1.3.3-2.7.3-4 0l-1-3 1.1-1.1h3.8l1.1 1.1zm0-5.4h-3.9l-1.1-3.7 3.1-2.2 3.1 2.3zm4.1 3.1c-.7.7-1.5 1.3-2.4 1.7l.7-1.9h2c-.1.1-.2.2-.3.2zm-2-1.6-.9-.9 1.3-3.9 1.4-.4 2.8 1.5c-.1 1.3-.5 2.6-1.2 3.7z'/%3E%3C/svg%3E%0A");
      }
    }

    &--basket {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='M15.782 16.392A27.055 27.055 0 0 0 8.438 6.027c.488-.37.998-.71 1.537-1.008 1.184 1.16 2.743 1.715 3.843 2.1.189.064.365.126.523.185 2.666 1 3.361 1.443 4.264 2.147.011.182.028.364.028.548a8.607 8.607 0 0 1-2.851 6.393M9.735 18.62c-.64-1.44-1.117-2.933-1.552-4.905-.347-1.575-.932-3.528-2.332-5.06a12.89 12.89 0 0 1 1.535-1.739 25.73 25.73 0 0 1 7.271 10.342A8.587 8.587 0 0 1 10 18.633c-.09 0-.176-.01-.265-.013m-6.323-3.053c.096-2.08.689-4.03 1.668-5.735.801.971 1.347 2.266 1.768 4.178.377 1.708.797 3.118 1.318 4.422a8.64 8.64 0 0 1-4.754-2.865M1.469 8.738a3.636 3.636 0 0 1 2.544.221 14.02 14.02 0 0 0-1.773 4.8A8.578 8.578 0 0 1 1.367 10c0-.429.042-.848.102-1.26M3.604 4.22a25.941 25.941 0 0 1 2.707 1.831 14.128 14.128 0 0 0-1.538 1.765c-.65-.339-1.697-.714-2.953-.557a8.62 8.62 0 0 1 1.784-3.039m5.524-.297c-.623.356-1.209.766-1.768 1.208A27.728 27.728 0 0 0 4.631 3.25a8.592 8.592 0 0 1 3.971-1.76 5.353 5.353 0 0 0 .526 2.434m.843-2.557H10c1.376 0 2.673.331 3.828.906a13.98 13.98 0 0 0-3.484 1.03 3.946 3.946 0 0 1-.373-1.936m8.306 6.198c-.741-.444-1.695-.88-3.456-1.54a20.046 20.046 0 0 0-.554-.198c-.902-.315-2.047-.718-2.958-1.437a12.663 12.663 0 0 1 4.305-.936 8.646 8.646 0 0 1 2.663 4.111M10 0C4.486 0 0 4.485 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0'/%3E%3C/svg%3E%0A");
      }
    }

    &--tennis {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='m13.2.1c2-.3 3.9.3 5.1 1.6 1.3 1.3 1.8 3.1 1.6 5.1-.3 2-1.3 3.9-2.8 5.5-.8.8-1.6 1.4-2.6 1.9-.8.4-1.7.7-2.6.9l-7.6 1.6-3.3 3.2h-1v-1l3.3-3.3 1.6-7.6c.3-1.9 1.3-3.7 2.8-5.2 1.5-1.5 3.5-2.5 5.5-2.7zm-7.8 12.1-.6 2.9 2.9-.6c-1-.5-1.8-1.3-2.3-2.3zm8.7-10.8c-.3 0-.5 0-.8.1-1.6.2-3.3 1-4.7 2.4-1.2 1.2-2 2.6-2.3 4.1l-.1.3v.2c-.2 1.6.2 3 1.2 4s2.4 1.4 4 1.2h.2l.4-.1c1.5-.3 2.9-1.1 4.1-2.3.7-.7 1.2-1.4 1.6-2.2s.7-1.6.8-2.5c.2-1.6-.2-3-1.2-4-.8-.8-1.9-1.2-3.2-1.2zm-11.4-1.4c.7 0 1.4.3 1.9.8.6.5.9 1.2.9 1.9 0 1.5-1.2 2.7-2.7 2.7s-2.8-1.1-2.8-2.7c0-1.5 1.2-2.7 2.7-2.7zm0 1.4c-.7 0-1.3.6-1.3 1.3 0 .8.6 1.4 1.4 1.4.4 0 .7-.1 1-.4s.4-.6.4-1c-.1-.7-.7-1.3-1.5-1.3z'/%3E%3C/svg%3E%0A");
      }
    }

    &--hockey {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='M19.993 4.25v2.884l-6.297 11.713H1.3l-1.3-1.3v-3.166l1.299-1.3h13.946l4.748-8.83zm-5.481 10.197H1.866l-.5.5v2.035l.499.5H12.88l1.632-3.035zM7.734 2c2.58 0 5.356.77 5.356 2.461v3.018c0 1.691-2.777 2.462-5.356 2.462-2.579 0-5.355-.771-5.355-2.462V4.461C2.38 2.77 5.155 2 7.734 2zm3.99 4.174c-1.046.508-2.548.749-3.99.749-1.44 0-2.944-.241-3.989-.749v1.305c0 .282 1.372 1.096 3.99 1.096 2.617 0 3.99-.814 3.99-1.096zm-3.99-2.809c-2.617 0-3.989.815-3.989 1.096 0 .282 1.372 1.097 3.99 1.097 2.617 0 3.99-.815 3.99-1.097 0-.281-1.373-1.096-3.99-1.096z'/%3E%3C/svg%3E%0A");
      }
    }

    &--hand {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='m9.7 11.7 6.9 4.8v3.5h-1.4v-2.8l-6.2-4.3-7 7.1h-2l8.3-8.3zm-6.6-5.9 3.8 2.5h13.1v1.4h-13.5l-4.2-2.8s.8-1.1.8-1.1zm10.3-5.8c1.7 0 3.1 1.4 3.1 3.1s-1.4 3.1-3.1 3.1-3.1-1.4-3.1-3.1 1.4-3.1 3.1-3.1zm0 1.4c-1 0-1.7.8-1.7 1.7 0 1 .8 1.7 1.7 1.7s1.7-.8 1.7-1.7c.1-.9-.7-1.7-1.7-1.7zm-10-1.4c1.1 0 2.1.9 2.1 2.1s-.9 2-2.1 2c-1.1 0-2.1-.9-2.1-2.1.1-1.1 1-2 2.1-2zm0 1.4c-.4 0-.7.3-.7.7s.3.7.7.7.7-.3.7-.7-.3-.7-.7-.7z'/%3E%3C/svg%3E%0A");
      }
    }

    &--volleyball {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23C8CDCD'%3E%3Cpath d='m17 2.9c-2.8-2.8-7-3.7-10.7-2.2s-6.1 4.9-6.3 8.9 2 7.6 5.6 9.4c3.1 1.5 6.7 1.3 9.6-.5s4.7-5 4.7-8.5c0-2.7-1-5.2-2.9-7.1zm1.6 7.1c0 1.2-.2 2.4-.7 3.4-.9 0-1.8-.1-2.6-.4.5-2.1.5-4.4 0-6.5-.3-1.5-.9-2.9-1.6-4.2 3 1.4 4.8 4.4 4.9 7.7zm-6.9-8.5c1.1 1.6 1.8 3.3 2.2 5.2s.4 3.8 0 5.7c-1.2-.6-2.3-1.5-3.2-2.7.2-1.7.1-3.3-.5-4.9-.3-1.2-1-2.3-1.8-3.3 1.1-.2 2.2-.2 3.3 0zm-7.8 2.4c.8-.9 1.9-1.5 3-1.9.8.7 1.4 1.6 1.8 2.6-1.9 1-3.5 2.4-4.7 4-1 1.1-1.7 2.5-2.3 3.9-.9-3.1 0-6.4 2.2-8.6zm-1.2 10.7c0-.1-.1-.2-.1-.2.5-1.8 1.3-3.5 2.5-5 1.1-1.5 2.5-2.7 4.1-3.6.3 1.2.4 2.5.2 3.8-2.4 1.8-4 4.6-4.1 7.6-1.1-.7-1.9-1.6-2.6-2.6zm3.9 3.3c0-1.1.2-2.2.6-3.2 1.3 1.5 3 2.8 4.9 3.6-.7.2-1.4.3-2.1.3-1.2 0-2.3-.3-3.4-.7zm9.4-1.9c-.6.6-1.3 1.1-2.1 1.5-2.4-.8-4.5-2.3-6.1-4.2.5-.9 1.2-1.7 2.1-2.4 1.8 2.2 4.4 3.6 7.2 3.8-.3.5-.7.9-1.1 1.3z'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &:hover {
    color: #FFFFFF;

    .category__name {
      &--favorites {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath fill='var(%2300141E, %2300141E)' d='m9.346 0-2.101 6.847-6.841-.015-.404 1.309 5.544 4.213-2.129 6.837 1.058.809 5.526-4.242 5.527 4.242 1.058-.809-2.129-6.837 5.545-4.213-.403-1.309-6.843.015-2.099-6.847z'/%3E%3Cpath fill='var(%2300141E, %2300141E)' d='m9.346 0-2.101 6.847-6.841-.015-.404 1.309 5.544 4.213-2.129 6.837 1.058.809 5.527-4.242 5.526 4.242 1.058-.809-2.129-6.837 5.545-4.213-.403-1.309-6.843.015-2.099-6.847zm-.947 7.793 1.601-5.218 1.601 5.218.656.5 5.212-.011-4.223 3.211-.251.809 1.622 5.209-4.212-3.23h-.81l-4.21 3.23 1.621-5.209-.251-.809-4.225-3.211 5.214.011c.001 0 .655-.5.655-.5z'/%3E%3C/svg%3E%0A");
        }
      }

      &--soccer {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='m17 2.9c-3.9-3.9-10.2-3.9-14.1 0s-3.9 10.2 0 14.1c2.5 2.5 6.2 3.5 9.6 2.6s6.1-3.6 7-7c1-3.5 0-7.2-2.5-9.7zm.4 2.8c.6 1.1 1 2.2 1.1 3.4l-1.8-1zm-1.4-1.8c.1.1.3.3.4.4l-1.1 3.6-1.3.4-3.3-2.4v-1.4l3.2-2.2c.7.4 1.5.9 2.1 1.6zm-6-2.5c.8 0 1.6.1 2.3.3l-2.3 1.6-2.3-1.6c.7-.2 1.5-.3 2.3-.3zm-6.1 2.5c.6-.7 1.4-1.2 2.2-1.6l3.2 2.2v1.4l-3.3 2.4-1.4-.4-1.1-3.6c.1-.1.3-.3.4-.4zm-1.4 1.8.7 2.4-1.8 1c.1-1.2.5-2.4 1.1-3.4zm1.4 10.3c-.1-.1-.1-.2-.2-.2h2l.7 1.9c-1-.4-1.8-1-2.5-1.7zm2-1.6h-3.3c-.7-1.1-1.1-2.4-1.2-3.7l2.8-1.5 1.4.4 1.3 3.9zm6 3.9c-1.3.3-2.7.3-4 0l-1-3 1.1-1.1h3.8l1.1 1.1zm0-5.4h-3.9l-1.1-3.7 3.1-2.2 3.1 2.3zm4.1 3.1c-.7.7-1.5 1.3-2.4 1.7l.7-1.9h2c-.1.1-.2.2-.3.2zm-2-1.6-.9-.9 1.3-3.9 1.4-.4 2.8 1.5c-.1 1.3-.5 2.6-1.2 3.7z'/%3E%3C/svg%3E%0A");
        }
      }

      &--basket {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='M15.782 16.392A27.055 27.055 0 0 0 8.438 6.027c.488-.37.998-.71 1.537-1.008 1.184 1.16 2.743 1.715 3.843 2.1.189.064.365.126.523.185 2.666 1 3.361 1.443 4.264 2.147.011.182.028.364.028.548a8.607 8.607 0 0 1-2.851 6.393M9.735 18.62c-.64-1.44-1.117-2.933-1.552-4.905-.347-1.575-.932-3.528-2.332-5.06a12.89 12.89 0 0 1 1.535-1.739 25.73 25.73 0 0 1 7.271 10.342A8.587 8.587 0 0 1 10 18.633c-.09 0-.176-.01-.265-.013m-6.323-3.053c.096-2.08.689-4.03 1.668-5.735.801.971 1.347 2.266 1.768 4.178.377 1.708.797 3.118 1.318 4.422a8.64 8.64 0 0 1-4.754-2.865M1.469 8.738a3.636 3.636 0 0 1 2.544.221 14.02 14.02 0 0 0-1.773 4.8A8.578 8.578 0 0 1 1.367 10c0-.429.042-.848.102-1.26M3.604 4.22a25.941 25.941 0 0 1 2.707 1.831 14.128 14.128 0 0 0-1.538 1.765c-.65-.339-1.697-.714-2.953-.557a8.62 8.62 0 0 1 1.784-3.039m5.524-.297c-.623.356-1.209.766-1.768 1.208A27.728 27.728 0 0 0 4.631 3.25a8.592 8.592 0 0 1 3.971-1.76 5.353 5.353 0 0 0 .526 2.434m.843-2.557H10c1.376 0 2.673.331 3.828.906a13.98 13.98 0 0 0-3.484 1.03 3.946 3.946 0 0 1-.373-1.936m8.306 6.198c-.741-.444-1.695-.88-3.456-1.54a20.046 20.046 0 0 0-.554-.198c-.902-.315-2.047-.718-2.958-1.437a12.663 12.663 0 0 1 4.305-.936 8.646 8.646 0 0 1 2.663 4.111M10 0C4.486 0 0 4.485 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0'/%3E%3C/svg%3E%0A");
        }
      }

      &--tennis {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='m13.2.1c2-.3 3.9.3 5.1 1.6 1.3 1.3 1.8 3.1 1.6 5.1-.3 2-1.3 3.9-2.8 5.5-.8.8-1.6 1.4-2.6 1.9-.8.4-1.7.7-2.6.9l-7.6 1.6-3.3 3.2h-1v-1l3.3-3.3 1.6-7.6c.3-1.9 1.3-3.7 2.8-5.2 1.5-1.5 3.5-2.5 5.5-2.7zm-7.8 12.1-.6 2.9 2.9-.6c-1-.5-1.8-1.3-2.3-2.3zm8.7-10.8c-.3 0-.5 0-.8.1-1.6.2-3.3 1-4.7 2.4-1.2 1.2-2 2.6-2.3 4.1l-.1.3v.2c-.2 1.6.2 3 1.2 4s2.4 1.4 4 1.2h.2l.4-.1c1.5-.3 2.9-1.1 4.1-2.3.7-.7 1.2-1.4 1.6-2.2s.7-1.6.8-2.5c.2-1.6-.2-3-1.2-4-.8-.8-1.9-1.2-3.2-1.2zm-11.4-1.4c.7 0 1.4.3 1.9.8.6.5.9 1.2.9 1.9 0 1.5-1.2 2.7-2.7 2.7s-2.8-1.1-2.8-2.7c0-1.5 1.2-2.7 2.7-2.7zm0 1.4c-.7 0-1.3.6-1.3 1.3 0 .8.6 1.4 1.4 1.4.4 0 .7-.1 1-.4s.4-.6.4-1c-.1-.7-.7-1.3-1.5-1.3z'/%3E%3C/svg%3E%0A");
        }
      }

      &--hockey {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='M19.993 4.25v2.884l-6.297 11.713H1.3l-1.3-1.3v-3.166l1.299-1.3h13.946l4.748-8.83zm-5.481 10.197H1.866l-.5.5v2.035l.499.5H12.88l1.632-3.035zM7.734 2c2.58 0 5.356.77 5.356 2.461v3.018c0 1.691-2.777 2.462-5.356 2.462-2.579 0-5.355-.771-5.355-2.462V4.461C2.38 2.77 5.155 2 7.734 2zm3.99 4.174c-1.046.508-2.548.749-3.99.749-1.44 0-2.944-.241-3.989-.749v1.305c0 .282 1.372 1.096 3.99 1.096 2.617 0 3.99-.814 3.99-1.096zm-3.99-2.809c-2.617 0-3.989.815-3.989 1.096 0 .282 1.372 1.097 3.99 1.097 2.617 0 3.99-.815 3.99-1.097 0-.281-1.373-1.096-3.99-1.096z'/%3E%3C/svg%3E%0A");
        }
      }

      &--hand {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='m9.7 11.7 6.9 4.8v3.5h-1.4v-2.8l-6.2-4.3-7 7.1h-2l8.3-8.3zm-6.6-5.9 3.8 2.5h13.1v1.4h-13.5l-4.2-2.8s.8-1.1.8-1.1zm10.3-5.8c1.7 0 3.1 1.4 3.1 3.1s-1.4 3.1-3.1 3.1-3.1-1.4-3.1-3.1 1.4-3.1 3.1-3.1zm0 1.4c-1 0-1.7.8-1.7 1.7 0 1 .8 1.7 1.7 1.7s1.7-.8 1.7-1.7c.1-.9-.7-1.7-1.7-1.7zm-10-1.4c1.1 0 2.1.9 2.1 2.1s-.9 2-2.1 2c-1.1 0-2.1-.9-2.1-2.1.1-1.1 1-2 2.1-2zm0 1.4c-.4 0-.7.3-.7.7s.3.7.7.7.7-.3.7-.7-.3-.7-.7-.7z'/%3E%3C/svg%3E%0A");
        }
      }

      &--volleyball {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath d='m17 2.9c-2.8-2.8-7-3.7-10.7-2.2s-6.1 4.9-6.3 8.9 2 7.6 5.6 9.4c3.1 1.5 6.7 1.3 9.6-.5s4.7-5 4.7-8.5c0-2.7-1-5.2-2.9-7.1zm1.6 7.1c0 1.2-.2 2.4-.7 3.4-.9 0-1.8-.1-2.6-.4.5-2.1.5-4.4 0-6.5-.3-1.5-.9-2.9-1.6-4.2 3 1.4 4.8 4.4 4.9 7.7zm-6.9-8.5c1.1 1.6 1.8 3.3 2.2 5.2s.4 3.8 0 5.7c-1.2-.6-2.3-1.5-3.2-2.7.2-1.7.1-3.3-.5-4.9-.3-1.2-1-2.3-1.8-3.3 1.1-.2 2.2-.2 3.3 0zm-7.8 2.4c.8-.9 1.9-1.5 3-1.9.8.7 1.4 1.6 1.8 2.6-1.9 1-3.5 2.4-4.7 4-1 1.1-1.7 2.5-2.3 3.9-.9-3.1 0-6.4 2.2-8.6zm-1.2 10.7c0-.1-.1-.2-.1-.2.5-1.8 1.3-3.5 2.5-5 1.1-1.5 2.5-2.7 4.1-3.6.3 1.2.4 2.5.2 3.8-2.4 1.8-4 4.6-4.1 7.6-1.1-.7-1.9-1.6-2.6-2.6zm3.9 3.3c0-1.1.2-2.2.6-3.2 1.3 1.5 3 2.8 4.9 3.6-.7.2-1.4.3-2.1.3-1.2 0-2.3-.3-3.4-.7zm9.4-1.9c-.6.6-1.3 1.1-2.1 1.5-2.4-.8-4.5-2.3-6.1-4.2.5-.9 1.2-1.7 2.1-2.4 1.8 2.2 4.4 3.6 7.2 3.8-.3.5-.7.9-1.1 1.3z'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}


.active {
  position: relative;
  color: $color-white;

  &::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FF0046;
    border-radius: 4px 4px 0 0;
    content: '';

    @media (max-width: 590px) {
      bottom: -10px;
      left: -3px;
    }
  }
}


.menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
  display: none;
  box-sizing: border-box;
  width: 609px;
  height: auto;
  min-height: 434px;
  padding: 18px 0 16px 14px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 43px rgb(0 0 0 / 15%);

  @media (max-width: 670px) {
    top: 50px;
    width: 100%;
    padding: 25px 0;
    border-radius: 0;
  }

  &--active {
    display: block;
  }

  &__middle {
    margin-right: 23px;

    @media (max-width: 670px) {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 670px) {
      flex-direction: column;
    }

    li {
      @media (max-width: 670px) {
        display: flex;
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 13px;

    @media (max-width: 670px) {
      margin-right: 0;
    }
  }

  &__counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    min-width: 18px;
    min-height: 18px;
    margin-left: 4px;
    padding: 4px 3px;
    color: #001E28;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    background: #C8CDCD;
    border-radius: 4px;
  }

  &__item {
    position: relative;
    display: flex;
    width: max-content;
    padding: 10px 16px;
    color: #555E61;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    @media (max-width: 670px) {
      width: 100%;
    }

    &:hover {
      color: #0F2D37;
      background-color: #FFFFFF;
      background-color: #F4F5F5;
      border-radius: 8px;

      @media (max-width: 670px) {
        border-radius: 0;
      }

      .menu__counter {
        color: #FFFFFF;
        background-color: #001E28;
      }
    }

    &--vb {
      display: none;

      @media (max-width: $breakpoint-vb) {
        display: flex;
      }
    }

    &--hand {
      display: none;
    }
  }
}
