.match {
  &__wrapper {
    max-width: $container-content;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
  }

  &__content {
    display: flex;
    gap: 56px;
    max-width: 549px;
    margin: 0 auto;

    @media (max-width: $breakpoint-mobile) {
      justify-content: space-evenly;
      gap: 0;
      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 0 8px;
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (max-width: $breakpoint-mobile) {
      max-width: 85px;
    }
  }

  &__team-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    border: 1px solid #EEEEEE;
    border-radius: 12px;

    @media (max-width: $breakpoint-mobile) {
      width: 76px;
      height: 76px;
    }

    img {
      width: 58px;
      height: 58px;

      @media (max-width: $breakpoint-mobile) {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__team-name {
    color: $color-matches;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      font-size: 13px;
      line-height: 18px;
    }

    &:hover {
      text-decoration: underline;
    }

    &--win {
      font-weight: 700;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media (max-width: $breakpoint-mobile) {
      padding-top: 6px;
    }
  }

  &__date {
    color: $color-menu;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      font-size: 11px;
      line-height: 15px;
    }
  }

  &__score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 13px;

    @media (max-width: $breakpoint-mobile) {
      gap: 0;
    }

    span {
      display: inline-block;
      color: $color-main;
      font-weight: 500;
      font-size: 38px;
      font-family: 'Tomorrow', sans-serif;
      line-height: 46px;

      @media (max-width: $breakpoint-mobile) {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  &__tip {
    color: $color-main;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}
