.odds {
  &__wrapper {
    box-sizing: border-box;
    max-width: $container-content;
    margin: 0 auto;
    padding: 0 12px;
    background-color: #FFFFFF;

    @media (max-width: $breakpoint-mobile) {
      padding: 0;
    }
  }

  &__headers {
    display: grid;
    grid-template-columns: minmax(auto, 60%) minmax(30px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
    padding: 6px 12px;
    background-color: #EEEEEE;
    border-radius: 4px;

    @media (max-width: $breakpoint-mobile) {
      gap: 12px;
      padding: 6px 8px;
      border-radius: 0;
    }
  }

  &__header {
    color: $color-menu;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    &--left {
      text-align: left;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(auto, 60%) minmax(30px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 12px 20px;

    @media (max-width: $breakpoint-mobile) {
      gap: 12px;
      padding: 0 8px 20px;
    }
  }

  &__img {
    display: block;
    width: 75px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__rate {
    display: block;
    color: #00141E;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    opacity: 0.7;

    &--blue {
      padding: 6px 0;
      background: #EEF7FF;
      border-radius: 8px;
      opacity: 1;
    }
  }
}
